        *{
            margin: 0px;
            background-color: rgb(241, 240, 177);
        }
        h1{
            background-color: rgb(241, 240, 177);
            margin-top: 10px;
        }
        #header{
            padding: 10px;
            height: 121px;
            background-color: rgb(241, 240, 177);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-align: center;
            color: rgb(51, 104, 51);
            text-shadow: 0px 2px 5px white;
            border: 20px solid rgb(2, 97, 2);
            border-radius: 50px;
            box-shadow: 0px 7px 5px black;
            /* background-image: ; */
        }
        div{
            font-size: 19px;
            box-shadow: 0px 5px 7px black;
        }
        .div1{
            text-align: center;
            border: 20px solid rgb(51,104,51);
            border-radius: 50px;
            padding: 15px;
            /* overflow: hidden; */
            margin-top: 10px;
            /* background-color: bisque; */
            margin-bottom: 10px;
        }
        .div-imagebox{
            margin-top: 10px;
            width: 100%;
        }
        .div-para{
            margin-top: 5px;
            margin-bottom: 10px;
            font-size: 21px;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #navigation-bar{
            margin-top: 25px;
            background-color: rgb(241, 240, 177);
        }
        .navbar{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(241, 240, 177);
            text-shadow: 0px 6px 5px black;
            border: 1px solid, black;
            box-shadow: 0px 3px 5px black;
            border-radius: 50px;
            padding: 6px;
            background-color: rgb(2,97,2);
            font-size: small;
        }
        .readmores{
            display: inline-block;
            font-size: medium;
            color: white;
            background-color:rgb(51,104,51) ;
            border: 2px solid black;
            box-shadow: 0px 5px 9px black;
            border-radius: 50px;
            padding: 8px;
            margin-top: 5px;
            
        }